@model IEnumerable<EmbeddedStockByPros.Models.ComponentType>

@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top: 50px;"></div>

<div class="container">

    @foreach (var item in Model)
    {
        <h2>
            @Html.DisplayFor(modelItem => item.ComponentName)
        </h2>
    }

</div>