@model IEnumerable<EmbeddedStockByPros.Models.ComponentType>

@{
    ViewData["Title"] = "Home Page";
}

<div style="margin-top: 50px;"></div>

<div class="container">

    <p>
        <a asp-controller="ComponentTypes" asp-action="Create">Create New</a>
    </p>
    <p><a asp-controller="ComponentTypes" asp-action="listComponentTypeFromCategory">List of components by Category</a></p>
    <p>
        <a asp-controller="ComponentTypes" asp-action="List">List of components by ComponentType</a>
    </p>
</div>